<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <Title>Ordered Items</Title>
</head>
<body>
<header class="container-fluid text-center">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link activeTableTab" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link activeTableTab" th:href="@{/cart}">Cart</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
        </li>
    </ul>
    <div>
        <h3 class="jumbotron text-center"><span th:text="${user.username}+' Products'" class="text-capitalize"></span>
        </h3>
    </div>
</header>

<div class="col-md-7 col-lg-9 col-xl-9">
    <th:block th:each="orderItem : ${orderItems}">
        <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                    <img class="img-fluid w-100"
                         th:src="${orderItem.product.imageUrl}">
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <h3 class="mt-5" th:text="${orderItem.product.productName}"></h3>
                    <h6 class="mt-5" th:text="'Quantity '+ ${orderItem.orderQuantity}"></h6>
                    <h6 class="mt-5" th:text="'$ '+${orderItem.product.productPrice}"></h6>
                    <h5 class="mt-5" th:text="'Total Price $'+${orderItem.getTotalPrice()}"></h5>
                    <div class="mt-5">
                        <a th:href="@{/deleteOrder/{orderId}(orderId = ${orderItem.id})}" type="button"
                           class="card-link-secondary small text-uppercase mr-3"><i
                                class="fas fa-trash-alt mr-1"></i> Remove item </a>
                    </div>
                </div>

            </div>
        </div>
    </th:block>
</div>
<div th:if="${#lists.isEmpty(orderItems)}">
<h3>You have not bought anything yet</h3>
</div>
</body>
</html>