<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<header class="container-fluid text-center">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link activeTableTab" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link activeTableTab" th:href="@{/cart}">Cart</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}" >Log out</a>
        </li>
    </ul>
    <div>
        <h3 class="jumbotron text-center"> Welcome <span th:text="${user.username}" class="text-capitalize"></span></h3>
    </div>
</header>


<div class="row">
    <div class="bg-info mx-auto ml-5 mr-5" style="width: 200px;">
        <h5 class="text-center">Products</h5>
    </div>
</div>

<div class="mx-auto mt-2 mb-2" style="width: 500px;">
    <div class="row">
        <th:block th:each="product : ${products}">
            <div class="row rounded border">
                <div class="row ml-2 mt-2 mb-2">
                    <h4 class="text-left" th:text="${product.productName}"></h4>
                    <div class="thumbnail">
                        <img class="img-fluid" th:src="${product.imageUrl}">
                        <div class="col m">
                            <p th:text="${product.productDescription}"></p>
                            <h3 th:text="'$'+${product.productPrice}"></h3>
                            <form th:action="@{/cart(productId=${product.id})}" th:object="${cartItem}" method="post">
                                <p th:text="Quantity" class="mx-left" style="width: auto"></p>
                                <div class="col mb-3"> <input type="number" required value="" class="form-control mx-left" style="width: 200px;" th:field="${cartItem.orderQuantity}">
                                </div>
                                <input type="submit" value="Buy Now" class="btn btn-danger">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>