<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container my-5">

    <form th:action="@{/login}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Not a valid username or password</div>
                </div>
                <h1>Login page</h1>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    <div sec:authentication="username"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    <div sec:authentication="password"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="submit" value="Log in" class="form-control btn btn-primary">
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-3">
            <p>New user? <a th:href="@{/registration}">Register here</a></p>
        </div>
    </div>
</div>
</body>
</html>